.carousel__wrapper{
    @apply rounded-xl p-4 my-8 border border-red-500;
    position: relative;
    
}

.carousel__wrapper::after{
    position: absolute;
   right:-2.5%;
top:0;
width:80px;
height: 100%;
content:'' ;   
background: conic-gradient(from 251.4deg at 39.34% 27.96%, #251F3A -21.63deg, #27223F 99.49deg, #2A2140 148.33deg, #251F3A 338.37deg, #27223F 459.49deg);
background: conic-gradient(from 251.4deg at 39.34% 27.96%, #251F3A -21.63deg, #422649 99.49deg, #2B1E3B 148.33deg, #251F3A 338.37deg, #422649 459.49deg);

filter: blur(40px);
    
}
.carousel__wrapper::before{
    
    position: absolute;
    left:-2.5%;
    top:0;
width:80px;
height: 100%;
content:'' ;   
background: conic-gradient(from 251.4deg at 39.34% 27.96%, #251F3A -21.63deg, #27223F 99.49deg, #2A2140 148.33deg, #251F3A 338.37deg, #27223F 459.49deg);

filter: blur(20px);

}

.carousel{
    display: flex;
    gap:1.2rem;
    overflow-x: auto;
}

.link{
    @apply rounded-full;
    position: relative;
 outline: none;
    padding:1.5rem;
    border: 1px solid;
 
    background: rgba(0, 0, 0, 0.9);

   backdrop-filter: blur(6px);

   background: #000;


z-index:30;
;


    
}

.link::before{
    @apply rounded-full;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    top:0;
    left:0;
    z-index: 20;
    
 background: linear-gradient(144.64deg, #11FFFF 1.79%, rgba(180, 150, 177, 0.05) 52.35%, #ED4137 105.34%);  




}

.link::after{
    @apply rounded-full;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    transform: scale(1.75);
    filter:blur(5%);
    
    
z-index: 10;
    background: rgba(0, 0, 0, 0.1);
   


}



/* Scrollbar width */
::-webkit-scrollbar {
    width: 8px; /* Vertical scrollbar */
    height: 12px; /* Horizontal scrollbar */
  }
  
  /* Scrollbar track (background) */
  ::-webkit-scrollbar-track {
    @apply my-4;
    /* background:linear-gradient(30deg,rgba(255, 255, 255, 0), rgba(0, 8, 153, 1)); */
    border-radius: 10px;
  }
  
  /* Scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    @apply my-4;
    background: linear-gradient(45deg, #fff, #fff);
    border-radius: 10px;
  }
  
  /* Scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #fff, #fff);
  }
  